<button mat-button class="menu-button" (click)="irHome()">
    <mat-icon> home </mat-icon>
    <span> Home </span>
</button>

<mat-divider></mat-divider>

<button mat-button class="menu-button" (click)="cadastrarArma()">
    <mat-icon>build</mat-icon>
    <span>Cadastrar Armas</span>
</button>

<mat-divider></mat-divider>

<button mat-button class="menu-button">
    <mat-icon>person</mat-icon>
    <span>Cadastrar Personagem</span>
</button>

<mat-divider></mat-divider>

<button mat-button class="menu-button">
    <mat-icon>map</mat-icon>
    <span>Cadastrar Mapa</span>
</button>