.form {
    text-align: center;
}

.form-group {
    margin: 4px;
    text-align: center;
    padding:5px;
}

.form-control {
    text-align: center; 
}

.btn {
    margin: 10px;
    background-color: #3b538a;
}

.div{
    background-color: #002b5c;
    color:  rgb(49, 49, 49);
    border-radius: 10px;
}

.h3{
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;   
}



